raw_dataset/
stanford_cars/
dataset.ipynb
/Users/carpanini24/Desktop/exam/DeepLearning/DeepLearning/trained_model12.pth 
/Users/carpanini24/Desktop/exam/DeepLearning/DeepLearning/trained_model13.pth
/Users/carpanini24/Desktop/exam/DeepLearning/DeepLearning/trained_model14.pth
/Users/carpanini24/Desktop/exam/DeepLearning/DeepLearning/trained_model15.pth
/Users/carpanini24/Desktop/exam/DeepLearning/DeepLearning/trained_model16.pth    
